<app-navbar></app-navbar>

<div class="fondoiniciosesion">

    <div class="margeninicio"> 
        <h2>Inicia Sesión</h2>
        <h5>Ingresa tu correo y contraseña</h5>
        <form>
            <div class="campo">
                <label for="correo">Correo:</label>
                <input type="email" id="correo" class="colorinput" placeholder="Ingresa tu correo" required>
            </div>
            <div class="campo">
                <label for="contraseña">Contraseña:</label>
                <input type="password" id="contraseña" class="colorinput" placeholder="Ingresa tu contraseña" required>
            </div>
            <button type="submit" class="botoninicio">
                Iniciar Sesión
            </button>
            <button type="submit" class="botoninicio">
                Iniciar Sesión con Google
            </button>
        </form>
    </div>
</div>
