<app-navbar></app-navbar>
<div class="inventory-container">
    <h2>Inventario de Productos</h2>
    
    <!-- Botones para descargar PDF y Excel -->
    <div class="download-buttons" *ngIf="products$ | async as productsList">
      <button (click)="downloadPDF(productsList)" [disabled]="!productsList.length">
        Descargar PDF
      </button>
      <button (click)="downloadExcel(productsList)" [disabled]="!productsList.length">
        Descargar Excel
      </button>
    </div>
    
    <table>
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="products$ | async as productsList">
          <tr *ngFor="let product of productsList">
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.quantity }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  